@import "../sass-utils/variables";

.container {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gray-600;
  color: $gray-300;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 1rem;
}
